<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{{ site.description }}">
		<title>{{ page.title }}</title>

		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="{{ site.baseurl }}/css/zapp.css" >
		<link rel="stylesheet" href="{{ site.baseurl }}/css/flexslider.css" >
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>
		<div class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a href="{{ site.baseurl }}" class="navbar-brand">Jeppe Zapp</a>
			  		<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
			    			<span class="icon-bar"></span>
			    			<span class="icon-bar"></span>
			    			<span class="icon-bar"></span>
			  		</button>
				</div>
				<div class="navbar-collapse collapse" id="navbar-main">
			  		<ul class="nav navbar-nav">
			    			<li class="dropdown">
				      			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Games <span class="caret"></span></a>
				      			<ul class="dropdown-menu">
								<li><a href="{{ site.baseurl }}/vongott">The Vongott Chronicles</a></li>
								<li><a href="{{ site.baseurl }}/games/dearleader.html">Dear Leader</a></li>
								<li><a href="{{ site.baseurl }}/games/rovg.html">Rise of the Vegan God</a></li>
								<li><a href="{{ site.baseurl }}/games/ninjasprint.html">Ninja Sprint</a></li>
								<li><a href="{{ site.baseurl }}/games/cyklus.html">Cyklus</a></li>
								<li><a href="{{ site.baseurl }}/games/bashmaze.html">Bash Maze</a></li>
								<li><a href="{{ site.baseurl }}/games/swordguy.html">Sword Guy</a></li>
				      			</ul>
				    		</li>
			    			<li class="dropdown">
				      			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Plug-ins <span class="caret"></span></a>
				      			<ul class="dropdown-menu">
								<li><a href="{{ site.baseurl }}/opengui">OpenGUI</a></li>
								<li><a href="{{ site.baseurl }}/openpath">OpenPath</a></li>
				      			</ul>
				    		</li>
				    		<li>
				      			<a href="{{ site.baseurl }}/cv">CV</a>
				    		</li>
			    			<li class="dropdown">
				      			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Contact <span class="caret"></span></a>
				      			<ul class="dropdown-menu">
								<li><a href="http://github.com/mrzapp">GitHub</a></li>
								<li><a href="http://linkedin.com/in/jeppezapp">LinkedIn</a></li>
								<li><a href="http://forum.unity3d.com/members/289274-mrzapp">Unity Forums</a></li>
								<li><a href="http://soundcloud.com/jeppezapp">SoundCloud</a></li>
								<li><a href="mailto:contact@jeppezapp.com">Email</a></li>
				      			</ul>
				    		</li>
					</ul>
				</div>
		      	</div>
		</div>


		<ul class="nav nav-pills">
			<li class="sitetitle">{{ page.title }}</li>
		</ul>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<script src="{{ site.url }}/js/flexslider.min.js"></script>
		<script src="{{ site.url }}/js/fitvids.js"></script>
		<script src="{{ site.url }}/js/app.js"></script>

		<div class="container">
			{{ content }}
			
			{% if page.carousel %}
			<div class="flexslider">
				<ul class="slides">
					{% for slides in page.carousel %}
					<li>
						<img src="{{ slides.image }}">
				      	</li>
				      	{% endfor %}
				</ul>
			</div>
			{% endif %}
			
			{% if page.youtube %}
			{% for videos in page.youtube %}
			<iframe width="420" height="315" src="{{ videos.url }}?wmode=transparent" frameborder="0"> </iframe>	
			{% endfor %}
			{% endif %}
		</div>

	</body>
</html>
